* {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  outline: 0;
}

body {
}

.ace_editor > .ace_text-input {
  padding-top: 1px;
  padding-left: 1px;
  letter-spacing: 1px;
}
.filelist * {
  font-size: 12.5px;
  /* font-family: empty !important; */
}

.ace_layer {
  min-width: 38px;
}
.ace_gutter-cell {
  padding-left: 0;
}
.ace_gutter-layer {
  /* text-align: left; */
  margin-left: 15px;
  /* padding-left: 26px; */
  background: transparent;
}
.ace_editor {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.ace_editor:hover .ace_scrollbar-v {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  transition: background-color 0.3s;
}

.ace_scrollbar-v {
  background-color: rgba(0, 0, 0, 0);
}

.ace_scrollbar-v::-webkit-scrollbar {
  width: 8px;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb {
  background-color: inherit;
}

.searchBar {
  background-color: red;
  display: inline-block;
  width: 100vw;
  position: relative;
  margin: 0 5px;
}

.tagModal {
  background-color: red;
}

::-webkit-input-placeholder {
  text-transform: initial;
}

.auto-size-input input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: lightgray;
  color: #dce4ef;
}

.content-editable {
  display: inline-block;
  outline: 0;
  border-bottom: solid 1px #d4d4d4;

  color: #d4d4d4;
  min-width: 5px;
}

.dropdown2 {
  height: 5px;
}

.__react_component_tooltip.place-left:after {
  display: none;
}
.__react_component_tooltip.place-top:after {
  display: none;
}

.item-tooltip {
  background-color: #111514 !important;
  opacity: 1 !important;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 9999 !important;
}

.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}
